Add String>>escapeWithPercents

I'd like to add the opposite for `String>>unescapePercents`.

I've successfully tested the following implementation, but I'm not sure if it's the best/safest way to do this in the `String` hierarchy:

```
escapeWithPercents
	| encodedStream |
	encodedStream := AnsiString writeStream: self size.
	self readStream do: 
			[:char |
			(char isAscii and: [char isAlphaNumeric or: ['.-_~' identityIncludes: char]])
				ifTrue: [encodedStream nextPut: char]
				ifFalse: 
					[char asString asByteArray
						do: [:byte | encodedStream nextPutAll: '%' , (byte printStringBase: 16 nDigits: 2)]]].
	^encodedStream contents
``` 

This Smalltalk string `'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-._~:/?#[]@!$&''()*+,;=%' ` contains a set of valid characters in url but some of them have special meaning so it's better to encode them.
Using proposed `escapeWithPercents`  produces the same results as Pharo 8 `String>>urlEncoded` and the same of https://www.urlencoder.org/ tha has some good documentation at the end of the page.

Presumably this is for URL (URI) encoding? We should probably use better names - the existing `unescapePercents` rather literally describes what the method does (or some of it, since it also handles '+'), rather than its purpose. In #588 you suggested adopting the `urlDecoded` selector from Pharo, which is a better choice. I seemed to overlook that and just fixed the existing method, but anyway, we should deprecate that and replace it with something more revealing of the intent, and the reverse method to answer a URL encoded copy is then naturally `urlEncoded`. It might have been better to use 'uri', but probably it is better to use compatible names in the absence of a strong reason not to.

Then there is the question of the source encoding to escape. In practice it looks like this should always be UTF-8 per RFC3986, and there is really no need to support other encodings (which .net does). Given that, a `Utf8String` already contains the correct code units to escape. This is one of those cases where just enumerating over the UTF-8 code units allows for a simpler and more efficient implementation than streaming over the code points.

```
String>>urlEncoded
    ^self asUtf8String urlEncoded

Utf8String>>urlEncoded
	| encodedStream |
	encodedStream := AnsiString writeStream: self size.
	self do: 
			[:each |
			"Unreserved characters from RFC3986, section 2.3: Ascii letters and digits, hyphen, underscore, period and tilde"
			('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-_.~' includes: each)
				ifTrue: [encodedStream nextPut: each]
				ifFalse: 
					[encodedStream nextPut: $%.
					each codeUnit
						printOn: encodedStream
						base: 16
						nDigits: 2]].
	^encodedStream grabContents
```
It will need tests. The testing of unescapePercents looks comprehensive, but decoding is more complex than encoding as invalid input is a possibility when decoding, but not when encoding. unescapePercents attempts to detect cases where the string isn't actually encoded, but putting aside whether that is a good idea for decoding (probably not, since it isn't 100% reliable anyway), it certainly isn't for encoding. So there are far fewer cases to test.


I didn't remember #588.
About this issue you ask if is it for url encoding, and the answer is yes and not. Currently I need it for cookie encoding. I'm writing cookie values as Base 64 and some characters broke browser's cookie parser so most recommend to "url encode" names and values.

If you ask me `urlEncoded` & `urlDecoded` are good names and compatible with Pharo so I'm happy with changing it, deprecating  `unescapePercents`. I liked also `unescapePercents` because maybe you don't always use it for url or uri.

Y can send a PR with tests later.